h1 {
  font-family: "Helvetica Neue";
  font-size: 2em;
}

h2 {
  font-family: "Helvetica Neue";
  font-size: 1.5em;
}

h3 {
  font-family: "Helvetica Neue";
  font-size: 1.25em;
}

p {
  font-family: "Helvetica Neue";
  font-size: 1em;
}

li {
  font-family: "Helvetica Neue";
  font-size: 1em;
}
