.green {
  color: #1DB954;
}

h1 {
  font-family: "Helvetica Neue";
  font-size: 2.25em;
}

h2 {
  font-family: "Helvetica Neue";
  font-size: 1.5em;
}

h3 {
  font-family: "Helvetica Neue";
  font-size: 1.25em;
}

h4 {
  font-family: "Helvetica Neue";
  font-size: 1.1em;
}

p {
  font-family: "Helvetica Neue";
  font-size: 1em;
}

ul {
  margin: 1em;
}

li {
  font-family: "Helvetica Neue";
  font-size: 1em;
  margin: .5em;
}

button {
  font-family: "Helvetica Neue";
  font-size: 1.1em;
  border: 2px solid #1DB954;
  border-radius: 2px;
  background-color: white;
}

input {
  font-family: "Helvetica Neue";
  font-size: 1.1em;
}

form {
  margin: 1em;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #1DB954;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}
