@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t26b38');
  src:  url('fonts/icomoon.eot?t26b38#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t26b38') format('truetype'),
    url('fonts/icomoon.woff?t26b38') format('woff'),
    url('fonts/icomoon.svg?t26b38#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-display:before {
  content: "\e956";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-man:before {
  content: "\e9dc";
}
.icon-woman:before {
  content: "\e9dd";
}
.icon-man-woman:before {
  content: "\e9de";
}
.icon-play3:before {
  content: "\ea1c";
  color: #1DB954;
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-github:before {
  content: "\eab0";
}
