html {
  height: 100%;
}

header {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  color: white;
}

.green-background {
    background-color: #1DB954;
    padding: 5%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /*margin-left: 5%;
  margin-right: 5%;*/
}

footer {
  padding: 1em;
}

footer div {
  justify-content: center;
}

footer p{
  align-items: center;
}

.content {
  flex: 1;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.header-width {
  width: 20%;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.spacing {
  padding: 0 0 0 27%;
}

.center {
  text-align: center;
}

#login {
  margin-top: 5em;
}

#image1, #image2 {
  width: 50%;
}

@media only screen and (min-width: 375px) {
  #query1, #query2 {
    padding: 2em;
    margin: 1em;
  }
  button {
    padding: 2em;
    border-radius: 15px;
  }
}
/*
@media only screen and (max-width: 413px) {
  #image1, #image2 {
    display: block;
    margin-top: 0.5em;
    margin: 0px auto;
    float: none;
    clear: both;
  }
}*/
