.text-center {
  text-align: center;
}

#group-pic {
  width: 100%;
}

.content {
  flex 1;
}

#about {
  display: block;
  padding-bottom: 100px;
  margin-bottom: 3%;
}

.playlist-li {
  margin: 0.5em;
  display: inline-flex;
  justify-content: center;
  font-size: .5em;
  font-family: "Helvetica Neue";
}

.inline-block {
  margin: 0 0 0 25%;
  width: 50%;
}

@media only screen and (min-width: 376px) {
  #playlist {
    width: 100%;
  }
  .playlist-li {
    font-size: 1em;
  }
  li {
    display: inline-flex;
    margin: 0 0 0 38%;
    width: 50%;
    vertical-align: middle;
  }
  }

/*html {
  height: 100%;
}

header {
  margin-bottom: 1em;
  display: flex;
  color: white;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  padding: 1em;
}

footer div {
  justify-content: center;
}

footer p{
  align-items: center;
}



.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
  position: absolute;
  width: 100px;

}

.spotify-inline-block {
  display: inline-block;
}

.header-width {
  width: 20%;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.right {
  float: right;
}

.left {
  float: left;
}

.spacing {
  padding: 0 0 0 27%;
}

.center {
  text-align: center;
}

#login {
  margin-top: 5em;
}

#image1, #image2 {
  width: 50%;
}



  *{
    border: 2px solid red;
  }

  .inline-block {
    display: block;
    width: 100%;
    padding: 5%;
    margin: 0 0 0 5%;
  }

  .left {
    float: none;
  }
  button {
    padding: 2em;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 413px) {
  #image1, #image2 {
    display: block;
    margin-top: 0.5em;
    margin: 0px auto;
    float: none;
    clear: both;
  }
}*/
