.tab-content {
  clear: left;
  margin-top: 1em;
}

header h1, nav {
  align-self: center;
}

nav ul, li {
  display: flex;
  margin: .5em;
}

.artist-image {
  height: 8em;
  display: inline-block;
}

.playlist-li {
  font-family: "Helvetica Neue";
  font-size: 1em;
}

#image1appended {
  max-width: 45% auto;
  min-resolution: res;
  float: left;
}

#image2appended {
  max-width: 45% auto;
  min-resolution: res;
}

#playlist-name {
  margin-left: .5em;
  margin-right: .5em;
}

#playlist-label {
  display: flex;
  justify-content: center;
}

#about h2, h3, h4 {
  margin-bottom: .5em;
}

#about p {
  margin-bottom: 1em;
  margin-left: 1.25em;
  margin-right: 1em;
}

#logo {
  height: 1em;
  margin-right: .5em;
}
